<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body id="persons-page">
    <div class="persons-list">
        <% for (var i = 0; i < persons.length; i++ ) { %>
        <div class="person fl">
            <div>
                <img class="person-img" src="<%= persons[i].img %>">
            </div>
            <div class="person-info">
                <div><a class="link" href="<%= '/persons/' + persons[i].id %>"><%= persons[i].firstName + ' ' + persons[i].lastName %></a></div>
                <div class="person-birthday"><span class="person-info-title">Date of birth:</span> <%= new Date(persons[i].birthday).toLocaleDateString("en-US") %></div>
                <div class="person-age"><span class="person-info-title">Age:</span> <%= persons[i].age %></div>
                <div class="person-gender"><span class="person-info-title">Gender:</span> <%= persons[i].gender === 'm' ? 'Male' : 'Female' %></div>
            </div>
        </div>
        <% } %>
    </div>
    <% if (!persons.length) { %>
    <div class="no-persons-msg">
        No persons found. You can add persons from&nbsp;<a href="/admin">admin</a>&nbsp;page. 
    </div>
    <% } %>
</body>
</html>